<div class="main-container">
    <div class="button-row">
        <h1>JSON to PDF</h1>
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload
            accept="image/png, image/jpeg">
        <div class="file-upload">

            {{fileName || "Upload Background Image"}}
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            </div>
        <button mat-raised-button color="primary" (click)="generate()">Generate</button>
        </div>
    <div class="content-container">
        <div class="app-ace-editor" #editor></div>
        <iframe class="pdf-container" [src]="url" #pdfcontainer></iframe>
    </div>
</div>